p {
  font-family: Lato;
}
#element {
  display: block;
  max-width: 400px;
  min-height: 200px;
  margin: auto;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
